[submodule "third_party/BLAKE3"]
	path = third_party/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
	branch = master
[submodule "third_party/arrow"]
	path = third_party/arrow
	url = https://github.com/apache/arrow.git
        branch = main
